@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900&display=swap');

body {
	background-color: rgb(154,77,159);
	font-family: 'Montserrat', sans-serif;
	height: 1500px;
	width: 1658px;
	display: grid;
	grid-template-areas:
			"header header header"
			"section1 section1 section"
			"main    main    main"
			"footer footer footer";
	grid-template-rows: 65px 1fr 2fr 65px;
	grid-template-columns: 1fr 1fr 800px;
	margin: 0 auto;
}

header {
	z-index: 5;
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

header div {
	display: flex;
	justify-content: flex-start;
	padding-left: 50px;
	font-weight: 900;
	width: 30%;
}

header p {
	padding-left: 50px;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0;
}

section {
	grid-area: section;
	display: flex;
	justify-content: center;
	align-items: stretch;
	font-size: 1.5rem;
	flex-wrap: wrap;
}
section div {
	width: 550px;
}

section img {
	padding-top: 30px;
}

section h1 {
	font-weight: 700;
	padding-top: 20px;
	margin-bottom: 50px;
}

section p {
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 25px;
	padding; 10px;
}

section p.white {
	font-weight: 200;
}

main {
	grid-area: main;
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer {
	z-index: 5;
	grid-area: footer;
	color: white;
	background: rgb(7,8,35);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	font-size: .75rem;
	margin-top: -5px;
}

footer div {
	width: 100px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 55px;
}

a {
	text-decoration: none;
	padding: 10px;
	color: white;
}

div {
	text-align: center;
}

nav {
	z-index: 3;
	display:flex;
	align-self: flex-end; 
	text-align: right;
	width: 45%;
	height: 65px;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
}

.content {
	padding: 20px;
	width: 400px;
	line-height: 2;
	font-size: 1rem;
	margin-top: 100px;
	font-size: 1.5rem;
}

.purp {
	color: rgb(154,77,159);
}

.white {
	color: white;
}

.createEvent {
	border: 2px solid white;
	border-radius: 7px;
}

.getTicketsNow {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	background: rgb(8,9,37);
	border-radius: 50px;
	padding: 10px 30px;
	margin: 30px;
}

.smallLocate {
	height: 20px;
}

.section1 {
	position: relative;
	left: 0;
	top: -65px;
	z-index: 1;
}
.map {
	z-index: 1;
	height: 500px;
	width: 1658px;
	margin: 0;
}

@media screen and (max-width: 768px) {
	body {
		width: 750px;
		height: 650px;
		grid-template-areas:
			"header"
			"section1"
			"section"
			"main"
			"footer";
		grid-template-rows: 65px 1fr 1fr 1fr 65px;
		grid-template-columns: 750px;
	}
	section div {
		width: 680px;
	}
	.map {
		max-width: 750px;
		height: 200px;
	}
	div.section1 img {
		width: 750px;
		margin: 0;
	}
	footer {
		max-width: 750px;
	}
	footer div {
		width: 80px;
		padding-right: 25px;
	}

	header div {
		width: 25%;
	}
	.getTicket {
		font-size: 0.75rem;
		padding-left: 20px;
		align-self: center;
	}
	nav {
		width: 75%;
		font-size: .5rem;
	}
}

@media screen and (max-width: 500px) {
	nav {
		display: none;
	}
	body {
		width: 375px;
		height: 300px;
		grid-template-areas:
			"header"
			"section1"
			"section"
			"main"
			"footer";
		grid-template-rows: 65px 1fr 1fr 1fr 65px;
		grid-template-columns: 375px;
	}
	section div {
		width: 480px;
	}
	.map {
		width: 375px;
		height: 150px;
	}
	div.section1 img {
		width: 375px;
	}
	footer {
		max-width: 375px;
		padding-left: 15px;

	}
	footer p {
		font-size: .15rem;
	}
	footer div {
		width: 50px;
		padding-right: 25px;
	}
	header div {
		width: 100%;
		justify-content: center;
	}
	span.hide {
		display: none;
	}
}
